---
const {isRed =false} = Astro.props
---

<div class="items-center space-x-1 bg-blue-500 text-white inline-flex px-4 rounded-sm hover:cursor-pointer hover:bg-blue-800 dura"
   class:list={{"bg-red-500 hover:bg-red-600": isRed}}
>

<slot name="start-icon" />

<slot name="text">
    Aceptar
</slot>

<slot name="end-icon"  />


</div>
